# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers:

Strings:

Lists:

Tuples:

Dictionaries:

<div class = 'alert alert-info'>
    <list>
        <li> Numbers can be integers or floats. Integers are whole numbers (positive or negative). Floats are decimal numbers
            (positive or negative)
        </li>
        <li>
            Strings are a sequence of characters. They are immutable.
        </li>
        <li>
            Lists are array like objects, able to hold a variety of other types. They are mutable, and accessed via indexing.
        </li>
        <li>
            Tuples are similar to lists, but are immutable.
        </li>
        <li>
            Dictionaries are a table of key/value pairs. They are mutable. Accessed by keys, and are unordered.
        </li>
    </list>
</div>

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [3]:
2 * 5**2 + 51 - 1 / 4.0 * 3

100.25

Explain what the cell below will produce and why. Can you change it so the answer is correct?

It will produce 0, as both numbers are integers and Python 2.7 performs integer math, returning only whole numbers.

In [4]:
2/3

0

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

1. 44
2. 29
3. 34

What is the *type* of the result of the expression 3 + 1.5 + 4?

<div class = 'alert alert-info'>
    float
</div>

What would you use to find a numberâ€™s square root, as well as its square?

```
25**0.5
2**2
```

In [5]:
print 'square root of 25: {:.2f}'.format(25**0.5)
print 'square of 2:'.format(2**2)

square root of 25: 5.00
square of 2:

## Strings

Given the string 'hello' give an index command that returns 'e'. Use the code below:

In [6]:
s = 'hello'
# Print out 'e' using indexing

# Code here
s[1]

'e'

Reverse the string 'hello' using indexing:

In [8]:
s ='hello'

# Reverse the string using indexing

# Code here
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [10]:
s ='hello'

# Print out the

# Code here
s[4], s[-1]

('o', 'o')

## Lists

Build this list [0,0,0] two separate ways.

In [13]:
l1 = [0, 0, 0]
l2 = [0] * 3

print 'the lists: {}, {}'.format(l1, l2)

the lists: [0, 0, 0], [0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' item in this list:

In [14]:
l = [1,2,[3,4,'hello']]
l[2][2] = 'goodbye'
l

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [18]:
l = [6, 3, 4, 5, 4]
l.sort()
l

[3, 4, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [19]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [20]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [23]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [24]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?

<div class = 'alert alert-info'>
    No, they are not sequences, and are not ordered.
</div>

## Tuples

What is the major difference between tuples and lists?

<div class = 'alert alert-info'>
    tuples are immutable
</div>

How do you create a tuple?

```
t = (3, 2, 1)
```

In [25]:
t = (3, 2, 1)
t

(3, 2, 1)

## Sets

What is unique about a set?

<div class = 'alert alert-info'>
    they store only unique values
</div>

Use a set to find the unique values of the list below:

In [26]:
l = [1,2,2,33,4,4,11,22,3,3,2]
uniques = set(l)
uniques

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators:

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
</tr>
<tr>
<td>&lt;&gt;</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a &lt;&gt; b) is true. This is similar to != operator.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [29]:
# Answer before running cell
print False
2 > 3

False

False

In [28]:
# Answer before running cell
print False
3 <= 2

False

False

In [30]:
# Answer before running cell
print False
3 == 2.0

False

False

In [31]:
# Answer before running cell
print True
3.0 == 3

True

True

In [32]:
# Answer before running cell
print False
4**0.5 != 2

False

False

Final Question: What is the boolean output of the cell block below?

In [33]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False?
print False
l_one[2][0] >= l_two[2]['k1']

False

False

## Great Job on your first assessment!