In [1]:
# import the libraries
import numpy as np
import matplotlib.pyplot as pyplot
import pandas as pd
from sklearn.preprocessing import Imputer, LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from pprint import pprint

# suppress printing of scientific notation
np.set_printoptions(suppress=True)

## The Dataset

In [3]:
# import the dataset
dataset = pd.read_csv('Data.csv')

# view the dataset
dataset.head(10)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

## Feature Matrix and Independent Variable

In [5]:
# create features matrix
X = dataset.iloc[:, : -1].values
# and view it
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [6]:
# create dependent variable vector
y = dataset.iloc[:, 3].values
# and view
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'], dtype=object)

## Train and Test Sets

In [7]:
# split the dataset into a training and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
print 'training and testing sets'
print 'X train:', X_train
print
print 'X test:', X_test
print
print 'y train:', y_train
print
print 'y test:', y_test

training and testing sets
X train: [['Germany' 40.0 nan]
 ['France' 37.0 67000.0]
 ['Spain' 27.0 48000.0]
 ['Spain' nan 52000.0]
 ['France' 48.0 79000.0]
 ['Spain' 38.0 61000.0]
 ['France' 44.0 72000.0]
 ['France' 35.0 58000.0]]

X test: [['Germany' 30.0 54000.0]
 ['Germany' 50.0 83000.0]]

y train: ['Yes' 'Yes' 'Yes' 'No' 'Yes' 'No' 'No' 'Yes']

y test: ['No' 'No']

In [9]:
# feature scaling
"""sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)
'X train and test after feature scaling:'
print 'X train:', X_train
print
print 'X test:', X_test
print"""
None